/* styles.css */

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #e6e6e6;
}

#fsl {
    position: absolute;
    right: 0;
}

.buttons:hover {
    border: 1px solid black;
}
